# Pastas de simulação
sim_build/
**/sim_build/
relatorio_de_cobertura/
**/relatorio_de_cobertura/

# Cache do Python
__pycache__/
**/__pycache__/

# Waveforms
*.vcd
*.fst

# Logs
*.log
*.dat